%mensaje{
    font-family: var(--my-font);
    background-color:#e67e7e8f;
}

%text{
    color: white
}

h3 {
    @extend %mensaje; }

      .form-label {
        @extend %text;
    }
    
    .form-check-label {
       @extend %text;
    }
    h5 {
        @extend%mensaje;
    }