footer {
    background-color:  #e67e7e8f;
    text-align: center;
    border: solid var(--box-color);
    border-radius: 2px;
    margin: 50px auto;
    z-index: -1;

.section {  
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .list {
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    list-style: none;
     }
     }
                
    h3 {
        border-radius: 10px;
        background-color: var(--box-color-2);
        display: flex;
       }
       
         h5 {
             border-radius: 10px ;
             background-color: var(--box-color-2);
         } }  
 .pie {
    position: relative ;
    top: 450px;

 }
    @media screen and(max-width:480px) {
        .section{
            flex-direction: column;
        }
        
    }
    @media screen and(max-width:480px) {
        .pie {
            position: relative;
            top: 2400px;
        }
        
    }
    
   