header {
    margin: auto;
       font-family: var(--my-font);
       justify-content: center;  
     }

h1{
    font-size: 40px;
    display: flex;
    
}    

.navbar {
    background-color: #e67e7e8f;
    z-index: 1;
    }

    .dropdown-menu {
        background-color: #e67e7e8f;
    }
    .logos {
        display: flex;
        align-items: flex-start;
    }

